<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Contact Us Component"></div>
<div data-component="Notification" data-cmp-type="react"></div>
<sly data-sly-use.author="${'com.heromotocorp.vida.core.models.TestRideModel'}"/>
<script>
    window.appConfig = Object.assign(window.appConfig || {}, {
      "contactUsConfig": {
        "title": "${properties.title @ context='scriptString'}",
        "message": "${properties.message @ context='scriptString'}",
        "thankYouTitle": "${properties.thankYouTitle @ context='scriptString'}",
        "thankYouMessage": "${properties.thankYouMessage @ context='scriptString'}",
        "productImage": "${properties.productImage @ context='uri'}",
        "contactPhone": {
          "label": "${properties.contactPhonelabel @ context='scriptString'}",
          "number": "${properties.contactPhoneNumber @ context='scriptString'}"
        },
        "contactMail": {
          "label": "${properties.contactMaillabel @ context='scriptString'}",
          "email": "${properties.contactemail @ context='scriptString'}"
        },
        "videoConnect": {
          "label": "${properties.videoConnectLabel @ context='scriptString'}",
          "message": "${properties.videoConnectMessage @ context='scriptString'}",
          "actionUrl": "${properties.videoConnectActionUrl @ context='uri', extension = 'html'}"
        },
        "followUsLabel": "${properties.followUsLabel @ context='scriptString'}",
        "firstNameField": {
          "label": "${properties.firstname @ context='scriptString'}",
          "placeholder": "${properties.fnplchld @ context='scriptString'}",
          "validationRules": {
            "required": {
              "message": "${'firstNameReqMsz' @ i18n,context='scriptString'}"
            },
			"minLength": {
              "value": 1,
              "message": "${'firstNameLeastMsz' @ i18n,context='scriptString'}"
            },
            "customValidation": {
              "message": "${'validfirstname' @ i18n,context='scriptString'}"
            }
          }
        },
        "lastNameField": {
          "label": "${properties.lastname @ context='scriptString'}",
          "placeholder": "${properties.lnplchld @ context='scriptString'}",
          "validationRules": {
            "required": {
              "message": "${'lastNameReqMsz' @ i18n,context='scriptString'}"
            },
            "minLength": {
              "value": 1,
              "message": "${'lastNameLeastMsz' @ i18n,context='scriptString'}"
            },
            "customValidation": {
              "message": "${'validlastname' @ i18n,context='scriptString'}"
            }
          }
        },
        "mobileField": {
          "id": "mobile",
          "countrycode": "${author.countryCodes @ context='scriptString'}",
          "label": "${properties.phone @ context='scriptString'}",
          "placeholder": "${properties.phplchld @ context='scriptString'}",
          "validationRules": {
            "required": {
              "message": "${'phoneNumberReqMsz' @ i18n,context='scriptString'}"
            },
            "minLength": {
              "value": 10,
              "message": "${'minCharaterMsz' @ i18n,context='scriptString'}"
            },
            "maxLength": {
              "value": 10,
              "message": "${'maxCharaterMsz' @ i18n,context='scriptString'}"
            },
            "customValidation": { 
              "message": "${'validmobilenumber' @ i18n,context='scriptString'}"
            }
          }
        },
        "emailField": {
          "label": "${properties.email @ context='scriptString'}",
          "placeholder": "${properties.emailplaceholder @ context='scriptString'}",
		  "infoLabel": "${properties.emailinfolabel @ context='scriptString'}",
          "validationRules": {
            "required": {
              "message": "${'emailReqMsz' @ i18n,context='scriptString'}"
            },
            "customValidation": {
              "message": "${'emailValidMsz' @ i18n,context='scriptString'}"
            }
          }
        },
        "sendBtn": {
          "label": "${properties.sendBtn @ context='scriptString'}"
        },
        "textField": {
          "label": "${properties.textFieldLabel @ context='scriptString'}",
          "placeholder": "${properties.textFieldplaceholder @ context='scriptString'}"
        },
        "socialLinks": [{
          "name": "instagram",
          "actionUrl": "${properties.instaurl @ context='uri'}",
          "icon": "icon-instagram"
        },
        {
          "name": "twitter",
          "actionUrl": "${properties.twitterurl @ context='uri'}",
          "icon": "icon-twitter"
        },
        {
          "name": "linkedIn",
          "actionUrl": "${properties.linkedinurl @ context='uri'}",
          "icon": "icon-linkedin"
        },
        {
          "name": "facebook",
          "actionUrl": "${properties.facebookurl @ context='uri'}",
          "icon": "icon-facebook"
        }
        ]
      }
    });
  </script>
  <sly data-sly-test="${!wcmmode.edit}">
  	<div data-component="ContactUs" data-cmp-type="react" data-cmp-config="contactUsConfig"></div>
  </sly>
