<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="New Two Column Text Component"></div>

<section class="vida-two-column-text-new">
    <div class="vida-container vida-two-column-text-new__container" data-animation-wrapper="true">
        <h1>
            <span class="vida-two-column-text-new__heading" data-animate="true" data-animation-name="slide-right" data-animation-xvalue="-15">
                <span>${properties.lefttext}</span>
            </span>
            <span class="vida-two-column-text-new__description" data-animate="true" data-animation-name="slide-right" data-animation-xvalue="-15" data-animation-delay="0.2">
                <span class="txt-color--orange">${properties.righttext}</span>
            </span>
    	</h1>
    </div>
</section>