<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Header Component"></div>

<sly data-sly-use.author="${'com.heromotocorp.vida.core.models.NavigationModel'}" />

<sly data-sly-test="${!wcmmode.edit}">
    <script data-sly-test=${properties.redirectMaintenancePage}>
        window.location.href = "${author.maintenancePageUrl @context='text'}.html";
    </script>
</sly>


<div data-component="Spinner" data-cmp-type="react"></div>
<div data-component="Notification" data-cmp-type="react"></div>
<section class="vida-header" data-component="header">
    <div class="vida-header__wrapper">
        <div class="vida-container vida-header__container">
            <div class="vida-header__logo">
                <a href="${properties.logourl @ extension = 'html'}" class="logo--cta--anchor" data-link-position="Top" role="Link">
                    <picture>
                    <sly data-sly-use.DMImageURLService="${'com.heromotocorp.vida.core.models.DMImageURLService' @ imageDamPath=properties.headerlogo}"></sly>
					<sly data-sly-use.DMImageURLServiceMob="${'com.heromotocorp.vida.core.models.DMImageURLService' @ imageDamPath=properties.mobileheaderlogo}"></sly>
                        <source srcset="${DMImageURLService.dMImagePathLink}" media="(min-width:1024px)">
                        <source srcset="${DMImageURLServiceMob.dMImagePathLink}" media="(min-width: 360px)">
                        <img class="vida-header__logo-image" src="${DMImageURLServiceMob.dMImagePathLink}"
                            alt="${properties.alttext}" />
                    </picture>
                </a>
            </div>
            <sly data-sly-test="${properties.showseclogo}">
            <div class="vida-header__logo">
                    <picture>
                    <sly data-sly-use.DMImageURLService="${'com.heromotocorp.vida.core.models.DMImageURLService' @ imageDamPath=properties.secondarylogo}"></sly>
					<sly data-sly-use.DMImageURLServiceMob="${'com.heromotocorp.vida.core.models.DMImageURLService' @ imageDamPath=properties.secondarylogomobile}"></sly>
                        <source srcset="${DMImageURLService.dMImagePathLink}" media="(min-width:1024px)">
                        <source srcset="${DMImageURLServiceMob.dMImagePathLink}" media="(min-width: 360px)">
                        <img class="vida-header__logo-image" src="${DMImageURLServiceMob.dMImagePathLink}"
                            alt="${properties.seclogoalttext}" />
                    </picture>
            </div>
            </sly>
			<sly data-sly-test="${properties.showNav}">
            <div class="vida-header__nav">
                <div class="vida-header__nav-main">
                    <div class="vida-header__nav-main-actions">
							<sly data-sly-test="${properties.firstbuttonlabel}">
								<a href="${properties.firstbuttonlink @extension ='html'}"
									class="btn btn--secondary btn--action cta--anchor" role="button" id="${properties.firstbuttonid}"
									data-link-position="Top">${properties.firstbuttonlabel}</a>
							</sly>
							<sly data-sly-test="${properties.secondbuttonlabel}">
								<a href="${properties.secondbuttonlink @extension ='html'}"
									class="btn btn--tertiary btn--action cta--anchor" role="button" id="${properties.secondbuttonid}"
									data-link-position="Top">${properties.secondbuttonlabel}</a>
							</sly>
                    </div>
					<div class="vida-header__nav-main-icons">
						<sly data-sly-test="${!properties.hideUserIcon}">
							<span data-component="UserIcon" data-cmp-type="react"></span>
						</sly>
						<a href="#" class="vida-header__menu-icon"><i class="icon-menu"></i></a>
					</div>
                </div>
                <div class="vida-header__nav-menu">
                    <div class="vida-header__nav-title">
                        <h2><a href="${properties.navheadingurl @ extension = 'html'}" class="cta--anchor" data-link-position="Top" role="Link">${properties.navheading}</a></h2>
                        <a href="#" class="vida-header__nav-close"><i class="icon-x"></i></a>
                    </div>
                    <div class="vida-header__nav-menu-container">
                        <div class="vida-header__primary-nav">
                            <div class="vida-container">
                                <ul class="vida-header__primary-nav-menu">
                                    <sly data-sly-list.primarynavigation="${author.primarynavigation}">
                                        <li class="vida-header__primary-nav-item ${primarynavigation.profilelinkcheckbox ? 'vida-header__user-access-link':''} ${primarynavigation.loginregisterlinkcheckbox ? 'vida-header__user-login-link':''}" role="Link">
                                            <a class="cta--anchor" data-link-position="Top"
                                                href="${primarynavigation.primarynavtextlink @ extension = 'html', context='uri'}">${primarynavigation.primarynavtext}</a>
                                        </li>
                                    </sly>
                                </ul>
                            </div>
                        </div>
                        <div class="vida-header__secondary-nav">
                            <div class="vida-container">
                                <ul class="vida-header__secondary-nav-menu">
                                    <sly data-sly-list.secondarynavigation="${author.secondarynavigation}">
                                        <li class="vida-header__secondary-nav-item">
                                            <a
                                                href="${secondarynavigation.secondarynavtextlink @ extension = 'html', context='uri'}">${secondarynavigation.secondarynavtext}</a>
                                        </li>
                                    </sly>

                                    <li class="vida-header__secondary-nav-item vida-header__user-access-link">
                                        <span data-component="Logout" data-cmp-type="react"
                                            data-label="${properties.logoutlabel}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			</sly>
        </div>
    </div>
</section>
<!--Leave Page Notification-->
<div class="vida-leave-page-notification">
	<div class="vida-leave-page-notification__container">
		<div class="vida-leave-page-notification__body">
			<p>
				${properties.popupheading}
			</p>

			<div class="vida-leave-page-notification__btn-wrap">
				<button class="btn btn--secondary btn--action vida-leave-page-notification__close" role="button">
					${properties.secondarybtnlabel}
				</button>
				<a href="/" class="btn btn--primary btn--action vida-leave-page-notification__redirection" role="button">
					${properties.primarybtnlabel}
				</a>
			</div>
		</div>
	</div>
</div>