<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Product Info Tiles"></div>

<section class="vida-product-info-tiles" data-component="product-info-tiles" data-section-id="${properties.sectionid}" id="${properties.sectionid}">
    <div class="vida-product-info-tiles__wraccessorieser">
        <div class="vida-product-info-tiles__container vida-container">
            <div class="vida-product-info-tiles__slider">
                    <div class="vida-product-info-tiles__slider-card">
                        <div class="vida-product-info-tiles__slider-bg vida-product-info-tiles__headlamp-cards">
                            <div class="vida-product-info-tiles__slider-content">
                                <h3>${properties.firsttitle}</h3>
                                <div class="vida-product-info-tiles__accessories_desc">${properties.firstsubtitle}</div>
                            </div>
                            <picture>
                                <source srcset="${properties.firstimagepath}" media="(min-width:1024px)">
                                <source srcset="${properties.firstimagepath}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__headlamp-img">
                                    <img class="vida-product-info-tiles__asset-image" src="${properties.firstimagepath}" alt="${properties.firsttitle}" />
                                </div>
                            </picture>
                            <picture>
                                <source srcset="${properties.firsthoverimage}" media="(min-width:1024px)">
                                <source srcset="${properties.firsthoverimage}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__headlamp-img-hover">
                                    <img class="vida-product-info-tiles__asset-image" src="${properties.firsthoverimage}" alt="${properties.firsttitle}" />
                                </div>
                            </picture>  
                        </div>
                        <div class="vida-product-info-tiles__slider-bg vida-product-info-tiles__bootspace-cards">
                            <div class="vida-product-info-tiles__slider-content">
                                <h3>${properties.secondtitle}</h3>
                                <div class="vida-product-info-tiles__accessories_desc">${properties.secondsubtitle}</div>
                            </div>
                            <button class="vida-product-info-tiles__bootspace-button"><i class="icon-chevron"></i></button>
                            <picture>
                                <source srcset="${properties.secondimagepath}" media="(min-width:1024px)">
                                <source srcset="${properties.secondimagepath}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__bootspace-img-hoverdesktop">
                                    <img class="vida-product-info-tiles__asset-image-mobile" src="${properties.secondimagepath}" alt="${properties.secondtitle}" />
                                </div>
                            </picture>
                            <picture>
                                <source srcset="${properties.secondhoverimage}" media="(min-width:1024px)">
                                <source srcset="${properties.secondhoverimage}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__bootspace-img-desktop">
                                    <img class="vida-product-info-tiles__asset-image-desktop" src="${properties.secondhoverimage}" alt="BootSpace" />
                                </div>
                            </picture> 
                        </div>

                    </div>
                   
                    <div class="vida-product-info-tiles__slider-card">
                        <div class="vida-product-info-tiles__slider-bg vida-product-info-tiles__battery-cards">
                            <div class="vida-product-info-tiles__slider-content">
                            <h3>${properties.thirdtitle}</h3>
                            <div class="vida-product-info-tiles__accessories_desc">${properties.thirdsubtitle}</div>
                            </div>
                            <picture>
                                <source srcset="${properties.thirdimagepath}" media="(min-width:1024px)">
                                <source srcset="${properties.thirdimagepath}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__batteries-img">
                                    <img class="vida-product-info-tiles__asset-image" src="${properties.thirdimagepath}" alt="${properties.thirdtitle}" />
                                </div>
                            </picture>
                            <picture>
                                <source srcset="${properties.thirdhoverimage}" media="(min-width:1024px)">
                                <source srcset="${properties.thirdhoverimage}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__batteries-img-hover-desktop">
                                    <img class="vida-product-info-tiles__asset-image" src="${properties.thirdhoverimage}" alt="${properties.thirdtitle}" />
                                </div>
                            </picture> 
                        </div>
                        <div class="vida-product-info-tiles__slider-bg vida-product-info-tiles__followme-cards">
                            <div class="vida-product-info-tiles__slider-content">
                            <h3>${properties.fourthtitle}</h3>
                            <div class="vida-product-info-tiles__accessories_desc">${properties.fourthsubtitle}</div>
                            </div>
                            <button class="vida-product-info-tiles__followme-button"><i class="icon-chevron"></i></button>
                            <picture>
                                <source srcset="${properties.fourthimagepath}" media="(min-width:1024px)">
                                <source srcset="${properties.fourthimagepath}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__followme-img">
                                    <img class="vida-product-info-tiles__asset-image" src="${properties.fourthimagepath}" alt="${properties.fourthtitle}" />
                                </div>
                            </picture>
                            <picture>
                                <source srcset="${properties.fourthhoverimage}" media="(min-width:1024px)">
                                <source srcset="${properties.fourthhoverimage}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__followme-img-hover">
                                    <img class="vida-product-info-tiles__asset-image" src="${properties.fourthhoverimage}" alt="${properties.fourthtitle}" />
                                </div>
                            </picture> 
                        </div>
                    </div>

                    <div class="vida-product-info-tiles__slider-card">
                        <div class="vida-product-info-tiles__slider-bg vida-product-info-tiles__emergency-cards">
                            <div class="vida-product-info-tiles__slider-content">
                            <h3>${properties.fifthtitle}</h3>
                            <div class="vida-product-info-tiles__accessories_desc">${properties.fifthsubtitle}</div>
                            </div>
							<button class="vida-product-info-tiles__emergency-button"><i class="icon-chevron"></i></button>
                            <picture>
                                <source srcset="${properties.fifthimagepath}" media="(min-width:1024px)">
                                <source srcset="${properties.fifthimagepath}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__emergencyalert-img">
                                    <img class="vida-product-info-tiles__asset-image" src="${properties.fifthimagepath}" alt="${properties.fifthtitle}" />
                                </div>
                            </picture>
                            <picture>
                                <source srcset="${properties.fifthhoverimage}" media="(min-width:1024px)">
                                <source srcset="${properties.fifthhoverimage}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__emergencyalert-img-hover">
                                    <img class="vida-product-info-tiles__asset-image" src="${properties.fifthhoverimage}" alt="${properties.fifthtitle}" />
                                </div>
                            </picture> 
                        </div>
                        <div class="vida-product-info-tiles__slider-bg vida-product-info-tiles__keyfob-cards">
                            <div class="vida-product-info-tiles__slider-content">
                            <h3>${properties.sixthtitle}</h3>
                            <div class="vida-product-info-tiles__accessories_desc">${properties.sixthsubtitle}</div></div>                           
                            <picture>
                                <source srcset="${properties.sixthimagepath}" media="(min-width:1024px)">
                                <source srcset="${properties.sixthimagepath}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__keyfob-img">
                                    <img class="vida-product-info-tiles__asset-image" src="${properties.sixthimagepath}" alt="${properties.sixthtitle}" />
                                </div>
                            </picture>
                            <picture>
                                <source srcset="${properties.sixthhoverimage}" media="(min-width:1024px)">
                                <source srcset="${properties.sixthhoverimage}" media="(min-width: 360px)">
                                <div class="vida-product-info-tiles__keyfob-img-hover">
                                    <img class="vida-product-info-tiles__asset-image" src="${properties.sixthhoverimage}" alt="${properties.sixthtitle}" />
                                </div>
                            </picture>  
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="vida-product-info-tiles__bootspace-cards-popup-hide">
            <div class="vida-product-info-tiles__slider-bg vida-product-info-tiles__bootspace-cards-popup">
                <div class="vida-product-info-tiles__slider-content">
                    <h3>${properties.secondtitle}</h3>
                    <div class="vida-product-info-tiles__accessories_desc">${properties.secondsubtitle}</div>
                </div>
                <button class="vida-product-info-tiles__bootspace-button-close"><i class="icon-x"></i></button>
                <picture>
                    <source srcset="${properties.secondhoverimage}" media="(min-width:1024px)">
                    <source srcset="${properties.secondhoverimage}" media="(min-width: 360px)">
                    <div class="vida-product-info-tiles__bootspace-img-mobile">
                        <img class="vida-product-info-tiles__asset-image-mobile" src="${properties.secondhoverimage}" alt="${properties.secondsubtitle}" />
                    </div>
                </picture> 
            </div>
        </div>
        <div class="vida-product-info-tiles__followme-cards-popup-hide">
            <div class="vida-product-info-tiles__slider-bg vida-product-info-tiles__followme-cards">
                <div class="vida-product-info-tiles__slider-content">
                <h3>${properties.fourthtitle}</h3>
                <div class="vida-product-info-tiles__accessories_desc">${properties.fourthsubtitle}</div>
                </div>
                <button class="vida-product-info-tiles__followme-button-close"><i class="icon-x"></i></button>
                <picture>
                    <source srcset="${properties.fourthhoverimage}" media="(min-width:1024px)">
                    <source srcset="${properties.fourthhoverimage}" media="(min-width: 360px)">
                    <div class="vida-product-info-tiles__followme-img-mobile">
                        <img class="vida-product-info-tiles__asset-image-mobile" src="${properties.fourthhoverimage}" alt="${properties.fourthtitle}" />
                    </div>
                </picture>
               
            </div>
        </div>
        <div class="vida-product-info-tiles__emergency-cards-popup-hide">
            <div class="vida-product-info-tiles__slider-bg vida-product-info-tiles__emergency-cards">
                <div class="vida-product-info-tiles__slider-content">
                <h3>${properties.fifthtitle}</h3>
                <div class="vida-product-info-tiles__accessories_desc">${properties.fifthsubtitle}</div>
                </div>
                <button class="vida-product-info-tiles__emergency-button-close"><i class="icon-x"></i></button>
                <picture>
                    <source srcset="${properties.fifthhoverimage}" media="(min-width:1024px)">
                    <source srcset="${properties.fifthhoverimage}" media="(min-width: 360px)">
                    <div class="vida-product-info-tiles__emergencyalert-img-mobile">
                        <img class="vida-product-info-tiles__asset-image-mobile" src="${properties.fifthhoverimage}" alt="${properties.fifthtitle}" />
                    </div>
                </picture> 
            </div>
        </div>
    </div>
</section>
