<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Service Banner Component"></div>


<section class="vida-service-banner" data-section-id="${properties.sectionid}">
    <div class="vida-service-banner__container vida-container">
        <div class="vida-service-banner__wrapper">
            <div class="vida-service-banner__content-section">
                <div class="vida-service-banner__heading">
                    ${properties.heading @ context = 'html'}
                </div>
                <div class="vida-service-banner__description">
                    ${properties.subheading @ context = 'html'}
                </div>
            </div>
            <div class="vida-service-banner__image-section">
				<sly data-sly-test="${properties.variations == 'image'}">
				<picture>
					<sly data-sly-use.DMImageURLService="${'com.heromotocorp.vida.core.models.DMImageURLService' @ imageDamPath=properties.image}"></sly>
					<sly data-sly-use.DMImageURLServiceMob="${'com.heromotocorp.vida.core.models.DMImageURLService' @ imageDamPath=properties.imageMob}"></sly>
                    <source srcset="${DMImageURLService.dMImagePathLink}" media="(min-width: 1024px)">
                    <source srcset="${DMImageURLServiceMob.dMImagePathLink}" media="(min-width: 360px)">
                    <img src="${DMImageURLServiceMob.dMImagePathLink}" alt="${properties.imagealt}" data-animate="true" data-animation-name="zoom-out-img">
                </picture>
				</sly>
				<sly data-sly-test="${properties.variations == 'video'}">
				<sly data-sly-use.DMVideoURLService="${'com.heromotocorp.vida.core.models.DMVideoURLService'
								@ videoDamPath=properties.fullScreenvideo}"></sly>
				<sly data-sly-use.DMVideoURLServiceMob="${'com.heromotocorp.vida.core.models.DMVideoURLService'
								@ videoDamPath=properties.mobScreenVideo}"></sly>
					<div class="vida-service-banner__video-player" data-component="video-player">
						<video class="vida-video-player__playback" autoplay playsinline aria-label="video playback" src=""
							muted loop data-src-mobile="${DMVideoURLService.dMVideoPathLink}"
							data-src-desktop="${DMVideoURLServiceMob.dMVideoPathLink}"></video>
					</div>
				</sly>
            </div>
        </div>
    </div>
</section>