.vida-order-card-details {
  +.vida-order-card-details {
    margin-top: rem(30px);
  }

  .vida-card {
    &__container {
      border: none;
      border-radius: 0;
      box-shadow: none;
    }

    &__warning {
      margin-top: rem(20px);
    }

    &__data {
      &-info {
        color: get-color("orange");
        margin-bottom: rem(5px);
      }
    }
  }

  .notification {
    margin-top: rem(20px);
  }
}
